{% extends './layout/layout.html' %}

{% block content %}

<div class="box-login">
    <form method="post" enctype="multipart/form-data" action="{{ url_for('iniciarSession') }}">
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" class="form-control" name="usuario" required />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" required />
        </div>

        {% if request.args.get('error') != None %}
        <div class="form-group box-credential-error">
            Credenciales no validas.
        </div>
        {% endif %}

        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Iniciar</button>
        </div>
    </form>
</div>

{% endblock %}